<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="1800 seconds">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{MM-dd HH:mm:ss.SSS} %-5level [%t] %logger{50} %L - %msg%n%ex{FULL, EX_DISPLAY_EVAL}</pattern>
        </encoder>
    </appender>

    <root level="error">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
